/* Add these styles to your existing stylesheet or create a new one */

.athlete-page-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1vw;
}

.athlete-content-container {
  display: flex;
  gap: 2rem; /* Adjust the gap between components */
}

@media (max-width: 768px) {
  .athlete-page-container {
    flex-direction: column;
    align-items: center;
  }

  .athlete-content-container {
    flex-direction: column;
    gap: 1rem; /* Adjust the gap for smaller screens */
  }
}
